# Define your own values for these variables
# - DO NOT put "" or '' around values, or add space around =
# - DO NOT use these special characters within values: \ " '

RIGHT_SOURCE_IP="10.0.0.0"

RADIUS_SECRET="radius_secret"
RADIUS_ADDRESS="127.0.0.1"

PSK_SECRET="psk_secret"
XAUTH_SECRET="xauth_secret"
EAP_ACCOUNT="user"
EAP_SECRET="eap_secret"

NETWORK_INTERFACE="eth0"
DOMAIN="dio.github.io"